# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh

# Android
android/local.properties
android/key.properties

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Misc
*.lock
*.log
*.pyc
*.swp
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
